<div class="center hero-unit">
  <h3>Registered:</h3>
  <%= render 'shared/registration_count' %>
</div>
<% if signed_in? %>
	<div class="main-panel">
		<div class="row home-row">
			<div class="span6">
				<h4 class="center">Your teams:</h4>
				<h5 class="center">
			  	<%= link_to "Create team", new_team_path %>
			  </h5>
				<% if current_user.teams.any? %>
					<ul class="teams">
			      <%= render current_user.teams %>
			    </ul>
				<% else %>
					<div class="center">
						<span class="label label-warning">None - <%= current_user.requested_teams.count %> requests</span>
					</div>
				<% end %>
			</div>
			<div class="span6">
				<h4 class="center">Your robots:</h4>
				<h5 class="center">
			  	<%= link_to "Create robot", new_robot_path %>
			  </h5>
				<% if current_user.robots.any? %>
					<ul class="robots-container">
			      <%= render current_user.robots %>
			    </ul>
				<% else %>
					<div class="center">
						<span class="label label-warning">None - <%= current_user.requested_teams.count %> requests</span>
					</div>
				<% end %>
			</div>
		</div>
	</div>
<% else %>
	<div class="center hero-unit">
	  <h1>Registration for Cyberbot Robotics Festival</h1>

	  <h2>
	    This is the home page for the registration system for Cyberbot Robotics Festival.
	  </h2>

	  <%= link_to "Sign up", signup_path, class: "btn btn-large btn-primary" %>
	</div>
<% end %>